.contact_us_page {
    padding-top: 50px;
    height: 400px;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact_us_half{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.contact_us_half_other{
    width: 50%;
    height: 350px;
}

.background_img{
    background-image: url("https://i.pinimg.com/736x/0a/24/2a/0a242a98d4140e6c9cdc4fef6d025c74.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}